* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("https://cdn.discordapp.com/attachments/1136322816636108811/1409673210676645948/1756161736.png?ex=68ae3bfb&is=68acea7b&hm=9ef1eb7eb003320390a6048da7f545983897df71d7b448f5028a4fc2aff0f4fd&")
    no-repeat center center fixed;
  background-size: cover;
  color: #e0d0b8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  font-family: sans-serif;
}

.app {
  width: 90%;
  max-width: 1200px;
  background: rgba(20, 15, 10, 0.85);
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
  border: 2px solid #7a5c2d;
  position: relative;
  overflow: hidden;
}
